<section id="menu">

  <div id="menu-links" class="silver-two">
	  <ul>				
		  <li><a href="store">STORE</a></li>
		  <li><a href="lounge">LOUNGE</a></li>
		  <li><a href="tobacco">TOBACCO</a></li>
		  <li><a href="roll">ROLL YOUR OWN</a></li>
		  <li><a href="merchandise">MERCHANDISE</a></li>
		  <li><a href="community">COMMUNITY</a></li>
		  <li><a href="gallery">GALLERY</a></li>
		  <li><a href="comments">COMMENTS</a></li>
	  </ul>
  </div>

</section>

