<div id="page-container" class="pull-left">

  <div id="left-side" class="indent">
      
      <div class="heading">
        GALLERY<br><br>
      </div>

      <div class="slide-up">
        Feel free to visit our photo gallery powered by Photobucket.com. <br><br>


      </div>
      
  </div>

  <div id="right-side" class="indent">
    <div style="width:480px;text-align:right;"><embed width="600" height="400" src="http://pic2.pbsrc.com/flash/rss_slideshow.swf" flashvars="rssFeed=http%3A%2F%2Ffeed1276.photobucket.com%2Falbums%2Fy468%2Fbestbuttstobacco%2Ffeed.rss" type="application/x-shockwave-flash" wmode="transparent" /><a href="javascript:void(0);" target="_blank"><img src="http://pic.photobucket.com/share/icons/embed/btn_geturs.gif" style="border:none;" /></a><a href="http://s1276.beta.photobucket.com/user/bestbuttstobacco/library/" target="_blank"><img src="http://pic.photobucket.com/share/icons/embed/btn_viewall.gif" style="border:none;" alt="bestbuttstobacco&#039;s  album on Photobucket" /></a>
  </div>

</div>