
<div id="page-container" class="pull-left">

  <div id="left-side" class="indent">
      
      <div class="heading">
        COMMENTS<br><br>
      </div>

      <div class="slide-up">
        This section is where our customers can put up comments of their experiences at our store.
       <br><br>


      </div>
      
  </div>

  <div id="right-side" class="indent">
    
    
    
  </div>

</div>

